@font-face {
    font-family: 'Bai Jumjuree regular';
    src: url('../../assets/fonts/BaiJamjuree-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bai Jumjuree semi bold';
    src: url('../../assets/fonts/BaiJamjuree-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Bai Jumjuree medium';
    src: url('../../assets/fonts/BaiJamjuree-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Bai Jumjuree bold';
    src: url('../../assets/fonts/BaiJamjuree-Bold.ttf') format('truetype');
}

.csvmodal-overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fade-in 0.2s ease-out forwards;
  }

  .csvmodal-overlay.fade-out {
    animation: fade-out 0.1s ease-out forwards;
  }
  
  .csvmodal-content {
    background: #1c2536;
    padding: 15px 20px;
    border-radius: 6px;
    max-width: 70vw;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    overflow: hidden;
    transform: translateY(-20px);
    animation: slide-up 0.2s ease-out forwards;
  }

  .csvmodal-content.slide-down {
    animation: slide-down 0.1s ease-out forwards;
  }
  
  .csvmodal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .csvmodal-filename {
    color: #fff;
    font-family: 'Bai Jumjuree semi bold', sans-serif;
    font-size: 14px;
  }
  
  .csvmodal-loading-state,
  .csvmodal-error-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    min-height: 80vh;
    color: #f0f0f0;
    font-family: 'Bai Jumjuree medium', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    gap: 7px;
    text-align: center;
  }

  .csvmodal-loading-text {
    display: flex;
    gap: 5px;
  }
  
  .csvmodal-table-container {
    flex: 1; 
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    /* overflow: hidden; */
    overflow: auto;
  }
  
  .csvmodal-virtual-list {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0);
  }

  .csvmodal-virtual-list::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(255, 255, 255, 0);
}

.csvmodal-virtual-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.csvmodal-virtual-list::-webkit-scrollbar-track {
    background: transparent;
}

  .csvmodal-virtual-row {
    display: inline-flex;
    min-width: max-content;
    flex-direction: row;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background-color: transparent;
    font-family: 'Bai Jumjuree regular', Roboto, sans-serif;
    font-size: 13px;
    color: #f0f0f0;
    transition: background 0.1s;
  }

  .csvmodal-virtual-row:hover {
    background-color: rgba(255,255,255,0.07);
  }
  
  .csvmodal-virtual-cell {
    flex-shrink: 0;
    width: 130px; 
    padding: 5px 8px;
    border-right: 1px solid rgba(255,255,255,0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .csvmodal-virtual-cell:last-child {
    border-right: none;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
  
  @keyframes slide-up {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slide-down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(20px);
    }
  }

  @media (max-width: 600px) {
    .csvmodal-content {
        max-width: 85vw;
        max-height: 70vh;
    }

    .csvmodal-loading-state,
    .csvmodal-error-state {
        max-width: 85vw;
        max-height: 70vh;
    }
}